*.vo
*.glob
*.aux
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.d
*.a
*.o
*~
.lia.cache
clean
extraction/sql_query_to_js.ml
extraction/sql_query_to_js.mli
dbcert
dbcert.byte
_CoqProject
qcert
dbcert-*

_build/
eval_sql_query.ml
eval_sql_query.mli

